.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 1rem;
  color: white;
  padding: 10vmin;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
 nav a {
   display: inline-block;
   padding: 12px;
   text-decoration: none;
   color: #61dafb;
   font-weight: bold;
   font-size: 1.5rem;
 }
 nav a:hover {
   color: #4cacc7;
 }

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 12px 20px;
  background-color: #61dafb;
  min-height: 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #4cacc7;
}

.toggle-favorite-button {
  background-color: pink;
}
.toggle-favorite-button:hover {
  background-color: rgb(221, 166, 175);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke-card {
  width: 60%;
  background-color: antiquewhite;
  color: #282c34;
  border-radius: 12px;
  padding: 12px 20px;
  margin: 20px;
}
